.nav-link{
    color: white;
}
td{
    color: white;
}


.formControl{
    background: rgba(0, 0, 0, 0);
    border: 1px solid white;
    color: white;
    border-radius: 5px;
}

.btnSize{
    font-size: 10px;
}